.setting--page{
    /* display: flex; */
    max-width: 800px;
    background-color: #242424;
    color: #F5F5F5;
    font-size: 17px;
    margin-top: 20px,50px;
    font-family: 'Segoe UI', 'SegoeUI', 'Roboto', sans-serif;
    line-height: 26px;
    /* border: 1px solid whitesmoke; */
    box-sizing: border-box;
    

}